// .like svg {
//     &:hover, &.active {
//         fill: $green-500;
//         stroke: $green-500;
//         stroke-width: 1px;
//     }
// }

@import '@/styles/_variant.scss';
.reply-container {
}
.reply-wrap {
  display: flex;
  gap: 16px;
  overflow: hidden;
  padding-bottom: 12px;
  @media (max-width: 390px) {
    gap: 12px;
  }
  .user-image {
    // width: 40px;
    // height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .reply-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: normal;
    .user-name {
      display: flex;
      align-items: flex-end;
      gap: 10px;

      & span:first-child {
        font-size: 18px;
        font-weight: 500;
        color: #666464;
      }
      & span:last-child {
        font-size: 14px;
        color: #bfbfbf;
      }
    }
    .post-icons {
      display: flex;
      gap: 15px;
      align-items: center;
      color: #8a8a8a;
      & > div {
        display: flex;
        align-items: center;
        gap: 2px;
        line-height: 0;
      }
    }
  }
}
.root-comment {
}

.children-comment {
  img {
    width: 34px;
    height: 34px;
  }
  margin-left: 52px;
}
.reply-more {
  // margin-top: 6px;
  color: #963827;
  font-weight: 500;
  margin-top: -10px;
  margin-left: 102px;
}
