@import '@/styles/_variant.scss';

.member-post {
  max-width: 100%;
  padding: 70px 120px;
  box-sizing: border-box;

  @media (max-width: 390px) {
    box-sizing: border-box;
    padding: 15px;
  }
}

.post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px $green-500 solid;
  box-sizing: border-box;
  margin: 0;
  @media (max-width: 390px) {
    min-width: 100%;
  }
  & span:first-child {
    color: $green-700;
    @media (max-width: 390px) {
      padding: 10px 0;
      font-size: 24px;
    }
  }
  & span:last-child {
    color: #bfbfbf4d;
    @media (max-width: 390px) {
      display: none;
    }
  }
}
/* 圖片區 */
.post-form {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 15px 20px;
  .post-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .post-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .img-amount {
      display: flex;
      gap: 4px;
      align-items: center;
    }
    .img-area {
      display: flex;
      .img-upload-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 98px;
        height: 98px;
        border: 1px $green-500 dotted;
        border-radius: 4px;
        text-align: center;
        align-content: center;
        margin-right: 8px;
        cursor: pointer;
        color: $green-500;
        span:first-child {
          height: 21px;
          line-height: 21px;
          // font-weight: 700;
        }
      }
      .img-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        img {
          width: 98px;
          height: 98px;
          object-fit: cover;
          border-radius: 5px;
          cursor: move;
        }
      }
    }
  }
}
/* 貼文區 */
.post-form {
  .post-publish {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .publish-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .info-title,
      .info-content,
      .tag-input {
        &.focused {
          border: 1px solid $green-600;
        }
        border: 1px $green-200 solid;
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 10px;
        padding: 10px 16px;
        border-radius: 2px;
        color: $green-600;
        input {
          flex-grow: 1;
          border: none;
          &:focus {
            outline: none;
          }
          &::placeholder {
            color: $green-600;
          }
        }
      }
      .info-content {
        .post-editor {
          border: none;
          resize: none;
          height: 250px;
          flex-grow: 1;
          color: #000;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-y: auto;
          overflow-x: hidden;
          &:focus {
            outline: none;
          }
          &:empty:before {
            content: attr(data-placeholder);
            color: $green-600;
            pointer-events: none;
          }
        }
      }
      .info-tag {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .tag-input {
          .tag-add {
            background-color: transparent;
            border: none;
            color: $green-700;
            font-weight: 700;
          }
        }
        .selected-tags,
        .suggested-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          button {
            display: flex;
            gap: 8px;
            align-items: center;
            background-color: $green-500;
            color: #fff;
            border: 1px $green-500 solid;
            border-radius: 50px;
            padding: 4px 12px;
            border-radius: 4px;
            &:hover {
              opacity: 0.8;
              color: #fff;
            }
          }
        }
        .suggested-tags {
          button {
            background-color: #fff;
            color: #000;
            border: 1px #000 solid;
            border-radius: 50px;
            padding: 4px 16px;
            border-radius: 4px;
            &:hover {
              background-color: #000000;
              color: #fff;
            }
          }
        }
      }
      //   .post-tags {
      //     width: 100%;
      //     border: 1px $green-200 solid;
      //     border-radius: 2px;
      //     padding: 10px 16px;
      //     &:focus {
      //       border: none;
      //       outline: 1px solid $green-600;
      //     }
      //   }
    }
  }
}

.post-btn {
  display: flex;
  justify-content: end;
  gap: 32px;
  box-sizing: border-box;
  @media (max-width: 390px) {
    justify-content: space-between;
  }
  & > a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    align-content: center;
  }
  & > button,
  & > a {
    @media (max-width: 390px) {
      font-size: 16px;
      padding: 8px 48px;
    }
  }
}

.dragging {
  opacity: 0.5;
}
.image-wrapper {
  position: relative;
}
.delete-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #00000080;
  border: none;
  cursor: pointer;
  padding: 0px 5px;
  border-top-right-radius: 5px;

  transition: background-color 0.3s;
}
.delete-btn:hover {
  opacity: 0.5;
}
.image-wrapper:hover .delete-btn {
  display: block;
}
.custom-popup {
  top: -55%;
  & div {
    padding: 0 !important;
  }
  padding: 0;
}
