.user-section {
    display: flex;
    // position: relative;
    width: 100%;
}

.any-section {
    // max-width: 100%;
    padding: 70px 120px;
    box-sizing: border-box;
    flex: 1;

}

@media (max-width: 1100px) {
    .any-section {
        padding: 40px;
    }
}


@media (max-width: 575px) {
    .any-section {
        padding: 40px 30px 40px 30px;
    }
}

@media (max-width: 390px) {
    .any-section {
        padding: 20px 10px 30px 10px;
    }
}