@import '@/styles/_variant.scss';

.item {
    padding-inline: 20px;
}

.item-img {
    width: 160px;
    height: 160px;
}

.item-left {
    width: 400px;
}

.text-group {
    width: 200px;
}

.count {
    width: 200px;
}

.sub-total {
    width: 200px;
}