@import '@/styles/_variant.scss';

.btn {
    background-color: transparent;
    border: transparent;
}

.selection-group {
    label{
        margin: 5px;
    }

    input[type="checkbox"] {
        display: none;
    }

    input:checked+.button {
        background: $green-500;
        color: #fff;
    }

    .button {
        padding-inline: 20px;
        padding-block: 3px;
        border-radius: 25px;
        background-color: $gray-100;
        color: $green-500;
        cursor: pointer;

        &:hover {
            background-color: $gray-200;
            color: #fff;
        }
    }
}