@import '@/styles/_variant.scss';

.post-banner {
  max-width: 100%;
  height: 530px;
  background: url('/post/post-banner.png') no-repeat center center;
  background-size: cover;
  padding: 15px;
  font-family: $secondary-font;
  color: #fff;
  gap: 40px;
  text-align: center;
  margin-block: auto;
  font-style: italic;
  @media (max-width: 390px) {
    height: 190px;
    padding: 5px;
  }
  .post-banner-text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    /* align-items: center; */
    border: 1.5px solid #ffffff58;
    @media (max-width: 390px) {
      gap: 10px;
    }
    & :first-child {
      font-size: 64px;
      @media (max-width: 390px) {
        font-size: 32px;
      }
    }
    & :last-child {
      font-size: 36px;
      @media (max-width: 390px) {
        font-size: 16px;
      }
    }
  }
}
.post-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 60px 240px;
  position: relative;
  box-sizing: border-box;
  @media (max-width: 768px) {
    padding: 10px 20px;
    font-size: 14px;
  }
  .post-wall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // gap: 25px;
  }
}
.post-navbar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 20px;
  @media (max-width: 390px) {
    flex-direction: row-reverse;
    gap: 36px;
  }
  .post-nav {
    // flex:1 1 0;
    // width: 100%;
    display: flex;
    gap: 30px;
    @media (max-width: 390px) {
      flex: 1 1 0;
      width: 100%;
    }
    .post-add {
      display: flex;
      gap: 6px;
      align-items: center;
      padding: 2px 10px;
      background-color: $green-400;
      color: #fff;
      border-radius: 50px;
      border: 1.5px $green-400 solid;
      text-decoration: none;
      cursor: pointer;
      @media (max-width: 1000px) {
        // display: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        right: 20px;
        width: 65px;
        height: 65px;
        svg {
          width: 35px;
          height: 35px;
        }
        span {
          display: none;
        }
      }
    }
    .post-search {
      // flex-grow: 1;
      // width: 100%;
      display: flex;
      gap: 12px;
      align-items: center;
      color: $green-500;
      @media (max-width: 390px) {
        flex-grow: 1;
        width: 100%;
      }
      & > input {
        // flex:1 1 0;
        // width: 100%;
        flex-grow: 1;
        max-width: 100%;
        height: 100%;
        border: 1.5px solid $green-500;
        border-radius: 50px;
        box-sizing: border-box;
        padding: 0 16px;
        @media (max-width: 390px) {
          flex-grow: 1;
          width: 100%;
        }
        &::placeholder {
          color: $green-500;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .post-filter {
    padding: 5px 0;
    display: flex;
    .filter-line {
      width: 1px;
      height: 100%;
      background-color: $green-500;
    }
    & > button {
      border: none;
      background-color: transparent;
      color: $green-700;
      // font-weight: 700;
      &:first-child {
        padding: 0 15px 0 0;
      }
      &:last-child {
        padding: 0 15px 0;
      }
      &:hover,
      &.active {
        color: $green-300;
      }
    }
  }
}
.my-masonry-grid {
  display: flex;
  margin-left: -25px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 25px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}
