@import '@/styles/_variant.scss';
.user-layout{
    display: flex;
}
.member-post{
    max-width: 100%;
    padding: 70px 120px;
    box-sizing: border-box;
    @media (max-width: 390px) {
        padding: 15px;
    }
}
.post-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px $green-500 solid;
    box-sizing: border-box;
    margin: 0;

    & span:first-child{
        color: $green-700;
        @media (max-width: 390px) {
            padding: 10px 0;
            font-size: 24px;
        }
    };
    & span:last-child{
        color: #bfbfbf4d;
        @media (max-width: 390px) {
           display: none;
        }
    }
}
.post-content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .post-navbar{
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 16px 40px 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        @media (max-width: 390px) {
            padding: 0;;
         }
        .post-nav{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            list-style: none;
            box-sizing: border-box;
            padding: 0 0 28px;
            @media(max-width: 390px) {
                padding: 0 8px;
                gap: 68px;
            }
            >.nav-link {
                box-sizing: border-box;
                padding: 5px 0;
                position: relative;
                
                white-space: nowrap;
                flex: 1 1 0 auto;
                
               a{
                color: #000;
                // border-bottom: 2px $red-500 solid;

                &:hover,&:active{
                    border-bottom: 2px $red-500 solid;
                }

               }
                @media(max-width: 390px) {
                    padding: 5px 0 3px;
                    font-size: 20px;
                    
                 }
                 .active {
                    position: relative;
                  }
            }
            
        }
        .post-add{  
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: $green-400;
            color: white;
            font-size: 24px;
            font-weight: 200;
            width: 55px;
            height: 55px;
            border-radius: 50px;
            border: none;
            white-space: nowrap;
            // overflow: hidden;
            transition: width 0.3s ease;
            text-decoration: none;

            @media (max-width: 390px) {
                position: absolute;
                top: -48px;
                right: 15px;
                width: 35px;
                height: 35px;
                font-size: 16px;
             }
            
             &>span{
                display: none; 
             }
             &:hover{
                width: 134px;
                gap: 8px;
               span{
                display: inline-block;
                opacity: 1
               }
             }
        }
        .post-plus{ 
            width: 35px; 
            height: 35px;
            background-color: $green-400;
            color: white;
            border: none;
            border-radius: 50%;
            display: none;
            text-align: center;
            font-weight: 400;
            @media (max-width: 390px) {
                display: block;
                position: absolute;
                top: -48px;
                right: 15px;
             }
        }
    }

    
}

.publish-all{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    @media (max-width: 390px) {
        padding: 0;
    }
 
}

.save-all{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 40px;
}