@import '@/styles/_variant.scss';

.coupon-lg {
    width: 550px;
    height: 170px;
    margin-bottom: 20px;
    background-image: url("/discount/coupon/coupon-lg-black.svg");
    background-size: cover;

    .coupon-image {
        width: 98px;
        height: 98px;
        margin-inline: 10px;
        border-radius: 50%;
        // background-image: url("/discount/coupon/brands/nars.svg");
        background-size: cover;
    }

    .text {
        color: #fff;
        width: 250px;

        .name {
            font-size: 24px;
        }

        .discount {
            line-height: 100%;
        }

        .max {
            color: $gray-200;
            line-height: 2rem;
        }
    }

    .btn-outline-light {
        background-color: #fff;
        color: #000;
        border-radius: 1px;
        padding: 0px;
        width: 100px;
        height: 30px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: #fff;
            transition: ease 0.5s;
        }
    }
}

.right-ps {
    color: $gray-200;
    line-height: 1.5rem;
}


@media (max-width: 960px) {
    .coupon-lg {
        width: 500px;
        height: 160px;
        background-image: url("/discount/coupon/coupon-sm-black.svg");

        .coupon-image {
            width: 90px;
            height: 90px;
        }

        .text {
            width: 180px;

            .name {
                font-size: 18px;
            }

            .discount {
                font-size: 36px;
            }

            .max {
                font-size: 16px;
            }
        }

        .align-self-end {
            .right-ps {
                font-size: 8px;
            }
        }
    }
}


@media (max-width: 576px) {
    .coupon-lg {
        width: 300px;
        height: 94px;
        background-image: url("/discount/coupon/coupon-sm-black.svg");

        .coupon-image {
            width: 60px;
            height: 60px;
        }

        .text {
            width: 120px;

            .name {
                font-size: 11px;
            }

            .discount {
                font-size: 24px;
            }

            .max {
                line-height: 1rem;
                font-size: 8px;
            }
        }

        .btn-outline-light {
            width: 50px;
            height: 20px;
            font-size: 10px;
        }

        .right-ps {
            line-height: 100%;
            font-size: 7px;
        }

    }

}